.airlock {
  margin-bottom: 35px;

  .airlock-header {
    margin: 0;
    position: relative; top: 10px;
  }

  .crew-lock-pump {
    margin: 5px 0 0 20px;
    text-align: center;

    dt {
      border-bottom: 1px solid #f0f0f0;
      margin-bottom: 4px;
      padding-bottom: 5px;
    }
  }

  .table {
    margin: 0 auto;
    table-layout: fixed;
    width: 100%;

    thead th {
      text-align: center;
    }
  }
}

@media (max-width: 320px) {
  .airlock {
    .airlock-table {
      .column-header {
        width: 32%;
      }

      .column-microchart {
        width: 33%;
      }

      .column-readout {
        width: 35%;
      }
    }
  }
}

@media (min-width: 321px) and (max-width: 767px) {
  .airlock {
    .airlock-table {
      .column-header {
        width: 28%;
      }

      .column-microchart {
        width: 42%;
      }

      .column-readout {
        width: 30%;
      }
    }

    .crew-lock-pump {
      margin-left: 8px;
      margin-top: 20px;

      dt {
        border: none;
        float: left;
        width: auto;

        &:after {
          content: ": ";
        }
      }
      dd {
        position: relative; top: -1px; left: -12px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .airlock {
    .column-header {
      width: 95px;
    }

    .column-microchart {
      width: 85px;
    }

    .column-readout {
      width: 115px;
    }

    .col:not(.col-first) {
      .column-microchart {
        width: 55px;
      }

      .column-readout {
        width: 65px;
      }
    }
  }
}

@media (min-width: 992px) {
  .airlock {
    .column-header {
      width: 110px;
    }

    .column-microchart {
      width: 100px;
    }

    .column-readout {
      width: 115px;
    }

    .col:not(.col-first) {
      .column-microchart {
        width: 110px;
      }
    }
  }
}
