.airlock {
  margin-bottom: 35px;

  .airlock-header {
    margin: 0;
    position: relative; top: 10px;
  }

  .crew-lock-pump {
    margin: 5px 0 0 20px;
    text-align: center;

    dt {
      border-bottom: 1px solid #f0f0f0;
      margin-bottom: 4px;
      padding-bottom: 5px;
    }
  }

  .table {
    margin: 0 auto;
    table-layout: fixed;
    width: 100%;

    thead th {
      text-align: center;
    }
  }
}
