.atmosphere {

  .atmosphere-header {
    margin: 0;
    position: relative; top: 10px;
  }

  .atmosphere-tables > div {
    padding: 0;
  }

  .column-header {
    width: 20%;
  }

  .column-microchart {
    text-align: right;
    width: 50%;
  }

  .column-pressure {
    width: 30%;
  }

  .oxygen-generator {
    .bullet-chart {
      margin-right: 15px;
      width: 135px;
      height: 16px !important;
    }
  }

  .oxygen-generator-rate {
    position: relative;
    top: -5px;
    margin: 0 5px 0 15px;
  }

  .oxygen-generator-state {
    display: inline-block;
    width: 92px;

    dt {
      display: inline;
      width: auto;
    }

    dd {
      margin-left: 0;
      padding-left: 10px;
    }
  }

  .table {
    margin: 0 auto;
    table-layout: fixed;
    width: 100%;

    thead th {
      text-align: center;
    }

    tbody {
      text-align: right;
    }

    td.bullet-chart {
      padding: 6px 0 6px 20px !important;
    }

    tr:nth-child(2) {
      th, td {
        border-top-color: #bbb !important;
      }
    }
  }
}

@media (max-width: 375px) {
  .atmosphere {
    .oxygen-generator {
      dt {
        margin-left: 28px;
        text-align: center;
        width: 100%;
      }

      dd {
        margin-left: 25%;
        width: 100%;

        .bullet-chart {
          margin-left: 0;
          width: 46%;
        }
      }
    }

    .oxygen-generator-state {
      // FIXME
      display: none;

      dt, dd {
        display: inline-block;
        text-align: left;
      }
    }

    .oxygen-generator-rate.readout {
      position: absolute; top: 28px; right: 7px;
    }
  }
}

@media (min-width: 768px) {
  .atmosphere .column-microchart {
    width: 35%;
  }

  .atmosphere .column-pressure {
    width: 45%;
  }
}

@media (min-width: 922px) {
  .atmosphere {
    .oxygen-generator-state {
      display: inline-block;
      width: 107px;
    }

    .col:first-child {
      width: 40%;
    }

    .col:not(:first-child) {
      width: 30%
    }

    .atmosphere-table:not(.first) {
      .column-header {
        width: 0;
      }
    }
  }
}
