.bullet-chart {

  .range-0 {
    fill: #eee;
  }

  .range-1 {
    fill: #ddd;
  }

  .range-2 {
    fill: #ccc;
  }

  .range-3 {
    fill: #bbb;
  }

  .measure {
    stroke: #444;
    stroke-width: 4px;
  }

  .marker {
    stroke: #777;
    stroke-width: 1px;
  }
}

td.bullet-chart {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}
