dd {
  font-weight: bold;
}

dt {
  font-weight: normal;
}

h1, h2, h3 {
  margin-top: 0;
}


h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

.sub-header {
  padding-bottom: 6px;
}

body {
  font-size: 12px;
}

@media (min-width: 992px) {
  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 14px;
  }

  body {
    font-size: 14px;
  }
}

th {
  border-bottom-width: 1px !important;
  font-weight: normal;
}

.table td, .table th {
  border-color: #f0f0f0 !important;
  line-height: 0 !important; /* Non-zero line heights cause problems with SVG inside cells. */
}





.dl-horizontal dd {
  margin-left: 120px;
}

.dl-horizontal dt {
  text-align: left;
  margin-top: 0.5px;
  vertical-align: top;
  width: 120px;
}

hr {
  margin: 15px 0 10px;

  &.header-rule {
    border-color: #666;
  }

  &.inner-rule {
    border-color: #bbb;
  }
}

html {
  position: relative;
  min-height: 100%;
}




.legal {
  font-size: 10px;
}

.status-symbol.alarm:before {
  line-height: 0;
  position: relative;
}

.off .status-symbol.alarm:before, .on .off .status-symbol.alarm:before {
  color: #ccc;
  content: "●";
  font-size: 28px;
  top: 4px;
}

.status:not(.on), .on .status:not(.on) {
  color: #999;
}

.status:not(.on) .text-off, .on .status:not(.on) .text-off {
  display: inline;
}

.status:not(.on) .text-on, .on .status:not(.on) .text-on {
  display: none;
}

.status.on .text-off, .off .status.on .text-off {
  display: none;
}

.status.on .text-on, .off .status.on .text-on {
  display: inline;
}

.on .status-symbol.alarm:before, .off .on .status-symbol.alarm:before {
  color: #ff7f00;
  font-size: 20px;
  content: "▲";
  top: 1px;
}

.tristate-chart {
  margin-top: 2px;
  margin-right: 10px;
}

.time-alarm {
  color: darkred;
}









td, th {
  padding: 4px 8px 4px 8px !important;
  vertical-align: middle !important;
}

.vibration .alarm-symbol:before {
  top: -25px;
  color: #eee;
}

.vibration .active .alarm-symbol:before {
  color: #ff7f00;
  top: -19px;
}

.vibration .alarm-symbol-container {
  padding-right: 0;
  margin-right: 0;
  margin-left: 20px;
}

.alarm-label {
  display: inline-block;
  text-align: right;
  width: 90px;
}

.alarm-symbol-container {
  display: inline-block;
  position: relative;
  padding-right: 25px;
  margin-right: 6px;
}



@font-face {
  font-family: 'iec_unicoderegular';
  src: url('../fonts/Unicode_IEC_symbol.eot');
  src: url('../fonts/Unicode_IEC_symbol.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Unicode_IEC_symbol.woff') format('woff'),
       url('../fonts/Unicode_IEC_symbol.ttf') format('truetype'),
       url('../fonts/Unicode_IEC_symbol.svg#iec_symbols_unicoderegular') format('svg');
  font-weight: normal;
  font-style: normal;
}


.status-symbol.power {
  font-family: 'iec_unicoderegular';
  position: relative; top: 0.5px;
}


.on .status-symbol.power:after, .off .on .status-symbol.power:after {
  content: "⏽";
}

.off .status-symbol.power:after, .on .off .status-symbol.power:after {
  content: "⭘";
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 5px;
  padding-left: 5px;
}

td, th {
  height: 29px !important;
}

.row {
  margin-right: -5px;
  margin-left: -5px;
}

.now-marker {
  fill: red;
}


.status {
  color: #999;
}

.status.on {
  color: black;
}

.status.unknown {
  color: red;
}

.tristate {
  display: inline-block;
}

.digits {
  display: inline-block;
}

.digits.four {
  width: 34px;
}

.digits.four.rotations-per-minute {
  width: 68px;
}

.value:after {
  font-weight: normal;
}

.value-column {
  text-align: right;
}
