.eva {
  margin-bottom: 35px;

  .eva-header {
    margin: 0;
    position: relative; top: 10px;
  }

  .eva-tables > div {
    padding: 0;
  }

  .column-header {
    width: 40%;
  }

  .column-microchart {
    text-align: right;
    width: 60%;
  }

  .column-readout {
    width: 30%;
  }

  .table {
    margin: 0 auto;
    table-layout: fixed;
    width: 100%;

    thead th {
      text-align: center;
    }
  }
}

@media (max-width: 767px) {
  .eva {
    .column-header {
      width: 40%;
    }
    .column-microchart {
      width: 35%;
    }
    .column-readout {
      width: 25%;
    }
  }
}

@media (min-width: 768px) and (max-width: 921px) {
  .eva {
    .col:first-child {
      .column-header {
        width: 43%
      }
    }

    .col:not(:first-child) {
      .column-readout, .column-microchart {
        width: 50%;
      }
    }
  }
}
@media (min-width: 922px) {
  .eva {
    .col:first-child {
      width: 30%;

      .column-header {
        width: 47%;
      }

      .column-microchart {
        width: 25%;
      }

      .column-readout {
        width: 27%;
      }

      td.microchart {
        position: relative; left: 12px;
      }
    }

    .column-readout {
      width: 35%;
    }

    .col:not(:first-child) {
      width: 20%
    }

    .eva-table:not(.first) {
      .column-header, tbody th {
        width: 0;
      }
    }
  }
}
