.photovoltaic {
  margin-bottom: 35px;

  .orientation-procedure {
    position: relative; top: 11px; left: 10px;

    dd.readout {
      text-align: left;
    }
  }

  .col-photovoltaic-attitude {
    border-right: 1px solid #aaa;
    width: 287px
  }

  .photovoltaic-attitude-table {
    th {
      text-align: right !important;
    }

    .column-header, th {
      width: 100px !important;
    }
  }

  .photovoltaic-header {
    margin: 0;
    position: relative; top: 10px;
  }

  .photovoltaic-tables > div {
    padding: 0;
  }

  .column-header {
    width: 40%;
  }

  .column-microchart {
    text-align: right;
    width: 60%;
  }

  .column-readout {
    width: 55%;
  }

  .col:not(.col-first) {
    .column-microchart, td.sparkline-chart {
      width: 100px !important;
    }
  }

  .col-first {
    .column-microchart, td.sparkline-chart {
      width: 70px !important;
    }

    .column-header, tbody th {
      text-align: right;
      width: 90px !important;
    }

    .column-readout, td.readout {
      width: 90px !important;
    }
  }

    .column-readout, td.readout {
      width: 100px !important;
    }

  .table {
    margin: 0 auto;
    table-layout: fixed;
    width: 100%;

    thead th {
      text-align: center;
    }

    tr:nth-child(3), tr:nth-child(5) {
      td, th {
        border-top: 1px solid #bbb !important;
      }
    }
  }
}

@media (min-width: 922px) {
  .photovoltaic {

    .col-channel:nth-child(2n+1) h4 {
      visibility: hidden;
    }

    .col-channel {
      h4 {
        margin-left: 19px
      }
    }

    .channel-table {
      td.bullet-chart {
        position: relative; left: 10px;
      }
    }

    .col:first-child {
      border-right: 1px solid #aaa;
      margin-right: 10px;
      padding-right: 10px;
      width: 25% !important;

      .column-header {
        width: 50%;
      }
    }

    .col {
      margin: 0;
    }

    .col-first {
      width: 250px;

      thead th {
        text-align: left;
      }
    }

    thead th {
      border-top: 1px #aaa solid;
      padding-top: 20px !important;
      padding-bottom: 10px !important;
    }

    .row:not(.totals) .col:not(.col-first) {
      thead th {
        visibility: hidden;
      }
    }

    .col:not(.col-first) {
      width: 200px;

      .photovoltaic-table {
        width: 200px;

        .column-header {
          width: 0;
        }
      }
    }
  }
}
