th .readout {
  font-family: inherit;
  font-weight: normal;
}

.readout {
  font-family: Consolas, "Lucida Console", monospace;
  font-weight: bold;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;

  &:after {
    font-weight: normal;
    color: #999;
  }

  &.amps:after {
    content: "\00a0 A";
  }

  &.celsius:after {
    content: "\00a0 C";
  }

  &.degrees:after {
    content: "\00a0 deg";
  }

  &.degrees-per-second:after {
    content: "\00a0 deg/s";
  }

  &.newton-meters:after {
    content: "\00a0 N⋅m";
  }

  &.g-force:after {
    content: "\00a0 G";
  }

  &.milligrams-per-second:after {
    content: "\00a0 mg/s";
  }

  &.newton-meter-second:after {
    content: "\00a0 N⋅m⋅s";
  }

  &.percentage:after {
    content: "\00a0 %";
  }

  &.pressure:after {
    content: "\00a0 mmHg";
  }

  &.radians:after {
    content: "\00a0 rad";
  }

  &.radians-per-second:after {
    content: "\00a0 rad/s"
  }

  &.rotations-per-minute:after {
    content: "\00a0 rpm"
  }

  &.volts:after {
    content: "\00a0 V";
  }
}
