@media (min-width: 768px) {
  .folding.table {
    margin: 15px auto;
    table-layout: fixed;
    width: 100%;

    &:not(.first):not(.third) {
      .column-header, tbody th:first-child {
       visibility: collapse;
       width: 0;
      }
    }
  }
}

@media (min-width: 992px) {
  .folding.table.third {
    .column-header, tbody th:first-child {
      visibility: collapse;
      width: 0;
    }
  }
}

@media (min-width: 1200px) {
  .folding.table {
    .second {
      position: relative; left: 2px;
    }

    .fourth {
      position: relative; left: -3px;
    }
  }
}
