@media (min-width: 992px) {
  .folding.table {
    margin: 15px auto;
    table-layout: fixed;
    width: 100%;

    &:not(.first) {
      .column-header, tbody th:first-child {
       visibility: collapse;
       width: 0;
      }
    }

    .first {
      position: relative; left: 4px;
    }

    .second {
      position: relative; left: 1px;
    }

    .third {
      position: relative; left: -1px;
    }

    .fourth {
      position: relative; left: -4px;
    }
  }
}

@media (min-width: 1200px) {
  .folding.table {
    .second {
      position: relative; left: 2px;
    }

    .fourth {
      position: relative; left: -3px;
    }
  }
}
