.thermal {
  margin-bottom: 35px;

  .air-conditioners .col {
    padding-left: 20px;
    white-space: nowrap;
    width: 21%;

    &.header {
      position: relative; top: 1px; right: 4px;
      text-align: right;
      width: 34%;
    }

    dd {
      margin-left: 0;
    }

    dt {
      padding-right: 9px;
      position: relative; top: 0.5px;
      width: auto;
    }
  }

  .column-header {
    width: 40%;
  }

  .column-microchart {
    text-align: right;
    width: 45%;
  }

  .column-readout {
    width: 30%;
  }

  .thermal-header {
    margin: 0;
    position: relative; top: 10px;
  }

  .thermal-tables > div {
    padding: 0;
    width: 21%;

    &:first-child {
      width: 34%;
    }
  }

  .radiator-col {
    border-right: 1px solid #aaa;
    padding-right: 15px;
  }

  .first .radiator-loop-table {
    .column-header {
      width: 30%;
    }

    .column-microchart {
      width: 30%;
    }

    .column-readout {
      width: 30%;
    }

    td.sparkline-chart {
      padding: 4px 8px !important;
    }
  }

  .radiator-loop-table {
    .column-microchart {
      width: 45%;
    }

    .column-readout {
      width: 55%;
    }
  }

  .radiator-table {
    .column-readout {
      width: 50%;
    }
  }

  .table {
    margin: 0 auto;
    table-layout: fixed;
    width: 100%;

    thead th {
      text-align: center;

      &.out-temperature {
        text-align: right;
      }
    }

    tr:nth-child(3) {
      td, th {
        border-top: 1px solid #bbb !important;
      }
    }
  }
}

@media (min-width: 922px) {
  .thermal {
    .col:first-child {
      width: 30%;

      .column-header {
        width: 50%;
      }

      td.microchart {
        position: relative; left: 12px;
      }
    }

    td.microchart {
      width: 60%;
    }

    .col:not(:first-child) {
      width: 20%
    }

    .thermal-table:not(.first) {
      .column-header {
        width: 0;
      }
    }
  }
}
