.thermal {
  margin-bottom: 35px;

  .air-conditioners .col {
    white-space: nowrap;

    &.header {
      position: relative; top: 1px;
      text-align: right;
      width: 30%;
    }

    &.destiny {
      dt {
        padding-right: 9px;
        text-align: right;
        width: 143px;
        position: relative; top: 0.5px;
      }
      padding-left: 19px;
    }

    &.harmony {
      dt {
        padding-right: 9px;
        position: relative; top: 0.5px;
        text-align: right;
        width: 159px;
      }
    }

    &.tranquility {
      dt {
        padding-right: 9px;
        position: relative; top: 0.5px;
        text-align: right;
        width: 157px;
      }
    }
  }
  .thermal-header {
    margin: 0;
    position: relative; top: 10px;
  }

  .thermal-tables > div {
    padding: 0;
    width: 21%;

    &:first-child {
      width: 34%;
    }
  }

  .column-header {
    width: 40%;
  }

  .column-microchart {
    text-align: right;
    width: 45%;
  }

  .column-readout {
    width: 30%;
  }

  .radiator-col {
    border-right: 1px solid #aaa;
    padding-right: 15px;
  }

  .first .radiator-loop-table {
    .column-header {
      width: 120px;
    }

    .column-microchart {
      width: 100px;
    }

    td.sparkline-chart {
      padding: 4px 8px !important;
    }
  }

  .radiator-loop-table {
    .column-readout {
      width: 35%;
    }
  }

  .table {
    margin: 0 auto;
    table-layout: fixed;
    width: 100%;

    thead th {
      text-align: center;
    }

    tr:nth-child(3) {
      td, th {
        border-top: 1px solid #bbb !important;
      }
    }
  }
}

@media (min-width: 922px) {
  .thermal {
    .col:first-child {
      width: 30%;

      .column-header {
        width: 50%;
      }

      td.microchart {
        position: relative; left: 12px;
      }
    }

    td.microchart {
      width: 60%;
    }

    .col:not(:first-child) {
      width: 20%
    }

    .thermal-table:not(.first) {
      .column-header {
        width: 0;
      }
    }
  }
}
