.water {
  margin-bottom: 35px;

  .water-header {
    margin: 0;
    position: relative; top: 10px;
  }

  .water-tables > div {
    padding: 0;
  }

  .water-table.first {
    td.microchart {
      position: relative; left: -13px;
    }
  }

  .water-table:not(.first) {
    td.microchart {
      position: relative; left: 15px;
    }
  }

  .column-header {
    width: 35%;
  }

  .column-microchart {
    text-align: right;
    width: 45%;
  }

  .column-readout {
    width: 20%;
  }

  .table {
    margin: 0 auto;
    table-layout: fixed;
    width: 100%;

    thead th {
      text-align: center;
    }
  }

  .urine-processor {
    dt {
      margin: 0 9px 0 0;
      width: auto;
    }

    dd {
      margin-left: 0;
      text-align: left;
      width: auto;
    }
  }

  .water-processor {
    dt {
      margin-left: 29px;
      width: 120px;
    }

    dd {
      margin-left: 120px;
      width: 200px;
    }
  }
}

@media (max-width: 767px) {
  .water {
    thead {
      display: none;
    }

    .column-header {
      width: 15%;
    }

    .column-microchart {
      text-align: right;
      width: 60%;
    }

    .column-readout {
      width: 25%;
    }

    .water-table td.microchart {
      left: 0 !important;
    }

    .water-processor, .urine-processor {
      margin-bottom: 0;

      dt {
        float: left;
        margin: 0 5px 0 0;
        width: auto;
      }

      dd {
        margin-left: 0;
        position: relative; top: -1px;
        width: auto;
      }
    }
  }
}

@media (min-width: 922px) {
  .water {
    .col:first-child {
      .column-header {
        width: 35%;
      }
    }

    .water-table:not(.first) {
      .column-header {
        width: 0;
      }
    }
  }
}
