html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
}

dd {
  font-weight: bold;
}

dt {
  font-weight: normal;
}

h1, h2, h3 {
  margin-top: 0;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

th {
  font-weight: normal;
}


.dl-horizontal dd {
  margin-left: 120px;
}

.dl-horizontal dt {
  text-align: left;
  vertical-align: top;
  width: 120px;
}

.dl-horizontal.attitude-alarms dt, .dl-horizontal.attitude-alarms dd {
  margin-top: 5px;
}

.dl-horizontal.attitude-settings dt, .dl-horizontal.attitude-settings dd {
  float: left;
  margin-top: 5px;
  width: auto;
}

.dl-horizontal.attitude-settings dt {
  clear: left;
}

.dl-horizontal.attitude-settings dd {
  margin-left: 10px;
}

.attitude-alarms {
  list-style: none;
  padding-left: 0;
}

.attitude-alarms li {
  margin-top: 5px;
}

.attitude .sparkline-chart {
  height: 25px; width: 141px;
}


.footer {
  background-color: #f5f5f5;
  font-size: 16px;
  height: 85px; width: 100%;
  padding-top: 15px;
  position: absolute; bottom: 0;
}

.jumbotron {
  padding: 30px 0 10px;
}

.jumbotron h1 {
  font-size: 32px;
  text-align: center;
}


.legal {
  font-size: 10px;
}

.status-symbol.alarm:before {
  line-height: 0;
  position: relative;
}

.off .status-symbol.alarm:before, .on .off .status-symbol.alarm:before {
  color: #ccc;
  content: "●";
  font-size: 28px;
  top: 4px;
}

.status.off, .on .status.off {
  color: #999;
}

.on .status-symbol.alarm:before, .off .on .status-symbol.alarm:before {
  color: #ff7f00;
  font-size: 20px;
  content: "▲";
  top: 1px;
}

.tristate-chart {
  margin-top: 2px;
  margin-right: 10px;
}











td, th {
  border: none !important;
  padding: 4px 8px 4px 8px !important;
  vertical-align: middle !important;
}

.vibration .alarm-symbol:before {
  top: -25px;
  color: #eee;
}

.vibration .active .alarm-symbol:before {
  color: #ff7f00;
  top: -19px;
}

.vibration .alarm-symbol-container {
  padding-right: 0;
  margin-right: 0;
  margin-left: 20px;
}

.alarm-label {
  display: inline-block;
  text-align: right;
  width: 90px;
}

.alarm-symbol-container {
  display: inline-block;
  position: relative;
  padding-right: 25px;
  margin-right: 6px;
}

.momentum {
  text-align: center;
}

.momentum dt {
  display: inline;
}

.momentum dd {
  display: inline-block;
  font-weight: normal;
}

.momentum .bullet-chart {
  display: inline-block;
  margin: 0 20px;
  position: relative; top: 3px;
  width: 250px;
}

.momentum .status.off {
  color: #999;
}

.container {
  min-width: 1150px;
}

@font-face {
  font-family: 'iec_unicoderegular';
  src: url('fonts/Unicode_IEC_symbol.eot');
  src: url('fonts/Unicode_IEC_symbol.eot?#iefix') format('embedded-opentype'),
       url('fonts/Unicode_IEC_symbol.woff') format('woff'),
       url('fonts/Unicode_IEC_symbol.ttf') format('truetype'),
       url('fonts/Unicode_IEC_symbol.svg#iec_unicoderegular') format('svg');
  font-weight: normal;
  font-style: normal;
}


.status-symbol.power {
  font-family: 'iec_unicoderegular';
  position: relative; top: 0.5px;
}

.attitude.table {
  margin: 15px 0;
  width: 100%;
}

.attitude tbody {
  text-align: right;
}

.attitude .column-header {
  width: 70px;
}

.attitude .column-euler {
  width: 125px;
}

.attitude .column-sparkline-value {
  width: 125px;
}

.cmg .table {
  width: 100%;
}

.cmg h3 {
  font-weight: normal;
}

.cmg table td, .cmg table th {
  border: 1px solid #f2f2f2 !important;
  text-align: right !important;
}

/*.cmg.bullet-container {
  margin: 0 10px 0 6px;
  width: 150px;
}*/

.cmg .column-header {
  width: 100px;
}

.cmg .column-sparkline-chart {
  width: 60px;
}

.cmg .column-sparkline-value {
  width: 80px;
}

.on .status-symbol.power:after, .off .on .status-symbol.power:after {
  content: "⏽";
}

.off .status-symbol.power:after, .on .off .status-symbol.power:after {
  content: "⭘";
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 5px;
  padding-left: 5px;
}

table.attitude td, table.attitude th {
  border: 1px solid #f2f2f2 !important;
}

table.attitude thead th {
  text-align: center;
}

table.attitude tbody th {
  text-align: right;
}

.row {
  margin-right: -5px;
  margin-left: -5px;
}

.sparkline {
  display: block;
  fill: none;
  stroke: #333;
  stroke-width: 0.5px;
  vertical-align: middle;
  height: 20px;
}

.sparkcircle {
  fill: #f00;
  stroke: none;
}


.status {
  color: #999;
}

.status.off {
  color: #ccc;
}

.status.on {
  color: #333;
}

.status.unknown {
  color: red;
}

.tristate {
  display: inline-block;
  position: relative; top: 1.5px;
}

.value {
  font-weight: bold;
  font-family: Consolas, "Lucida Console", monospace;
  text-align: right;
}

.digits {
  display: inline-block;
}

.digits.four {
  width: 34px;
}

.digits.four.rotations-per-minute {
  width: 68px;
}

.value:after {
  font-weight: normal;
}

.value-column {
  text-align: right;
}

.readout.amps:after {
  content: " A";
}

.readout.celsius:after {
  content: " C";
}

.readout.degrees:after {
  content: " deg";
}

.readout.degrees-per-second:after {
  content: " deg/s";
}

.readout.newton-meters:after {
  content: " N⋅m";
}

.readout.g-force:after {
  content: " G";
}

.readout.newton-meter-second:after {
  content: " N⋅m⋅s";
}

.readout.radians:after {
  content: " rad";
}

.readout.radians-per-second:after {
  content: " rad/s"
}

.readout.rotations-per-minute:after {
  content: " rpm"
}
